alembic==1.14.1
cffi==1.17.1
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
filelock==3.17.0
Flask==2.2.5
Flask-Login==0.6.2
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.0.3
fonttools==4.55.8
itsdangerous==2.2.0
Jinja2==3.1.5
kiwisolver==1.4.8
Mako==1.3.8
MarkupSafe==3.0.2
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.4.2
numpy==1.24.3
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pycparser==2.22
pydub==0.25.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
soundfile==0.12.1
SQLAlchemy==2.0.37
sympy==1.13.3
torch==2.0.0
torchaudio==2.0.0
typing_extensions==4.12.2
tzdata==2025.1
Werkzeug==2.2.3
setuptools==67.6.0
distutils
distutils
